In [2]:
list1=[]
with open("doc1.txt",encoding="utf-8") as f:
    for line in f:
        inner_list1=[line.strip() for line in line.split(" ")]
        list1.append(inner_list1)

In [3]:
list2=[]
with open("doc2.txt",encoding="utf-8") as f:
    for line in f:
        inner_list2=[line.strip() for line in line.split(" ")]
        list2.append(inner_list2)

In [4]:
list3=[]
with open("doc3.txt",encoding="utf-8") as f:
    for line in f:
        inner_list3=[line.strip() for line in line.split(" ")]
        list3.append(inner_list3)

In [5]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))

In [6]:
filtered_sentence1=[]
for v in list1:
    for w in v:
        if w not in stop_words:
            filtered_sentence1.append(w)
from collections import Counter
ctr1 = Counter(filtered_sentence1)

In [7]:
filtered_sentence2=[]
for v in list2:
    for w in v:
        if w not in stop_words:
            filtered_sentence2.append(w)
from collections import Counter
ctr2 = Counter(filtered_sentence2)

In [8]:
filtered_sentence3=[]
for v in list3:
    for w in v:
        if w not in stop_words:
            filtered_sentence3.append(w)
from collections import Counter
ctr3 = Counter(filtered_sentence3)

In [9]:
import pandas as pd
data_frame=pd.DataFrame([ctr1,ctr2 ,ctr3])
data_frame

,Recognized,Institution,Eminence,Govt.,India.,No.,1,Private,University,Innovation,...,partner,university.,One,may,also,semester,abroad,engage,research,collaboration.
0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [10]:
data_frame=data_frame.fillna(0)

In [11]:
import math
dist=[]
sum12=sum23=sum13=0
l1=data_frame.iloc[0].values
l2=data_frame.iloc[1].values
l3=data_frame.iloc[2].values
for i in range(len(l1)):
    sum12+=(l1[i]-l2[i])**2
    sum13+=(l1[i]-l3[i])**2
    sum23+=(l2[i]-l3[i])**2 
sum12=math.sqrt(sum12)
sum23=math.sqrt(sum23)
sum13=math.sqrt(sum13)

dict1={'Doc1 and Doc2':sum12,'Doc2 and Doc3':sum23,'Doc1 and Doc3':sum13}
print("Distances Between Docs:",dict1)
dist=[sum12,sum23,sum13]
dist=sorted(dist)
print("Sorted List:",dist)

Distances Between Docs: {'Doc1 and Doc2': 9.539392014169456, 'Doc2 and Doc3': 8.660254037844387, 'Doc1 and Doc3': 9.797958971132712}
Sorted List: [8.660254037844387, 9.539392014169456, 9.797958971132712]

In [29]:
for key, value in dict1.items():
    if dist[0] == value:
        print('documents which are similar are ',key)

documents which are similar are  Doc2 and Doc3